# 1. Parsing HTML (allow 8 mins)¶

Task You will scrape and process simple html page located here candidateEvalData/webpage.html

Output A dataframe of 1 row and 7 columns where the columns are:

1. The name of the artist (Peter Doig)
2. The name of the painting (The Architect's Home in the Ravine)
3. Price realised in GBP (11 282 500)
4. Price realised in USD (6 370 908)
5. Estimates in GBP (10 000 000 , 15 000 000)
6. Estimate in USD (14 509 999 , 21 764999)
7. The url of the image of the painting
8. Saledate of the painting (2016-02-11)

In [17]:
#import modules
from lxml import html
import re
import requests
import pandas as pd
from datetime import datetime

#get html and tree
html_page_link = 'candidateEvalData/webpage.html'
tree = html.parse(html_page_link)

# parse artist name
artist_name = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::h1[@class='lotName']")[0].text

#parse painting name
painting_name = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::h2[@class='itemName']/i")[0].text

#parse price GBP
price_gbp = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::div\
           [@class='price']/p/span[@id='main_center_0_lblPriceRealizedPrimary']")[0].text

#parse price US
price_us = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::div\
           [@class='price']/following-sibling::div[@id='main_center_0_lblPriceRealizedSecondary']")[0].text

#parse price GBP est
price_gbp_est = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::div\
           [@class='price']/p/span[@id='main_center_0_lblPriceEstimatedPrimary']")[0].text

#parse price US est
price_us_est = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::div\
[@class='price grey PriceEstimatedSecondary']/child::span[@id='main_center_0_lblPriceEstimatedSecondary']")[0].text

#image link
image_link = tree.xpath("//div[@id='MainContent']/child::div/child::div/child::div/child::ul\
            [@id='main_center_0_imgCarouselMain']/child::li/child::a/child::div/child::picture/\
            child::img[@id='imgLotImage']")[0].attrib['src']

sale_date = tree.xpath("//div[@id='MainLotSubheader']/p/span[@id='main_center_0_lblSaleDate']")[0].text

In [18]:
from datetime import datetime

sale_date_f = datetime.strptime(sale_date.replace(",","").strip(), "%d %B %Y")

sale_date_formatted = sale_date_f.strftime("%Y-%m-%d")

In [19]:
pd.DataFrame({
    'Artist Name': [artist_name.split("(")[0].strip()],
    'Painting Name': [painting_name.strip()],
    'Price GBP':[price_gbp.replace("GBP", "").strip()],
    'Price US':[price_us.replace("USD", "").strip()],
    'Price GBP est': [price_gbp_est.replace("GBP", "").replace(",", " ").strip().replace(" - ", ",")],
    'Price US est': [price_us_est.replace("USD", "").replace(",", " ").strip().replace(" - ", ",")],
    'Image url':[image_link],
    'Sale Date':[sale_date_formatted]
    
})

,Artist Name,Painting Name,Price GBP,Price US,Price GBP est,Price US est,Image url,Sale Date
0,Peter Doig,The Architect's Home in the Ravine,"11,282,500","16,370,908","10 000 000, 15 000 000","( 14 509 999, 21 764 999)",http://www.christies.com/lotfinderimages/D5973...,2016-02-11

# 2. Regex (allow 12 mins)

For each example below, write a regex to process the string in rawDim to extract the height, width and the depth (as float64 integers).

<b>Bonus</b>: Is there a single regex for all 5 examples ?

In [ ]:
import pandas as pd
dim_df = pd.read_csv("candidateEvalData/dim_df_correct.csv")
dim_df

In [ ]:
########### reg expressions
# loading modules
import re
import pandas as pd

# 3. Web crawler (allow 30 mins)
For this task we will crawl a gallery's listing of works available for sale.

The listings are on https://www.bearspace.co.uk/purchase

Each listing leads to a detail page. Eg.

Eg. https://www.bearspace.co.uk/product-page/tommy-by-olly-fathers

Task Scrape all artworks available for sale. Please use scrapy for this task.

Output Return a dataframe consisting of the following information

Answer: In the repo

# 4. Data (allow 5 mins)
There is a nycflights13 database with the following tables:

1. flights connects to planes via a single variable, tailnum.
2. flights connects to airlines through the carrier variable.
3. flights connects to airports in two ways: via the origin and dest variables.
4. flights connects to weather via origin (the location), and year, month, day, and hour (the time).

## Joins
<b>Task 1</b> : Describe inner join, left join, right join, full join.

<b>Task 2</b> : Write the SQL to do the following:
1. Add full airline name to the flights dataframe and show the arr_time, origin, dest and the name of the airline.
2. Filter resulting data.frame to include only flights containing the word JetBlue
3. Summarise the total number of flights by origin in ascending.
4. Filter resulting data.frame to return only origins with more than 100 flights.

### Task 1

<b>Inner join</b>: The inner join in SQL is the most common type of join. It is employed to obtain all the rows from various tables that meet the criteria for joining.

<b>Left Join</b>: In SQL, a left join returns all of the data from the left table, but only the matching rows from the right table when the join condition is met.

<b>Right Join</b>: In SQL, a “right join” returns all rows from the right table but only matches records from the left table when the join condition is met.

<b>Full Join</b>: When there is a match in any table, a full join returns all the records. As a result, all rows from the left-hand side table and all rows from the right-hand side table are returned

### Task 2

In [ ]:
1. SELECT arr_time, origin, dest, name  
FROM flights 
LEFT JOIN airlines ON flights.carrier=airlines.carrier;

2. SELECT arr_time, origin, dest, name  
FROM flights 
LEFT JOIN airlines ON flights.carrier=airlines.carrier
WHERE name LIKE '%JetBlue%';

3. SELECT origin, COUNT(origin) AS 'numFlights' 
FROM flights 
LEFT JOIN airlines ON flights.carrier=airlines.carrier
WHERE name LIKE '%JetBlue%'
GROUP BY origin
ORDER BY numFlights ASC;

4. SELECT origin, COUNT(origin) AS 'numFlights' 
FROM flights 
LEFT JOIN airlines ON flights.carrier=airlines.carrier
WHERE name LIKE '%JetBlue%'
GROUP BY origin
HAVING numFlights > 100
ORDER BY numFlights ASC;